* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

header p,
hr,
header {
  margin: 0 auto;
}

header p,
.directions-list {
  width: 80%;
  text-align: justify;
}

.recipe-img,
.cooking-img {
  width: 500px;
}

header-div,
h2,
.cooking-container {
  margin-top: 50px;
}

header div,
header,
h1,
.cooking-container {
  text-align: center;
}

/* header */
header {
  width: 1200px;
  max-width: 100%;
}

.header-img {
  width: 100%;
}

h1 {
  position: relative;
  color: white;
  font-size: 60px;
  top: -700px;
  font-weight: 200;
}

header p {
  font-size: 24px;
}

hr {
  width: 1200px;
}

/* recipe section */

.recipe {
  text-align: left;
}

h2 {
  font-weight: lighter;
  padding-bottom: 25px;
}

.recipe-ol-container,
.directions-container {
  margin-left: 350px;
}

.recipe ol {
  list-style-type: "-";
}

/* directions section */

.directions-container {
  margin-bottom: 50px;
}

/* adding parentheses with css counters */
ol {
  counter-reset: list;
}
ol > li {
  list-style: none;
}
ol > li:before {
  content: counter(list, number) ") ";
  counter-increment: list;
}
